
csAPI/obj/project.assets.json
csAPI/obj/Debug/netcoreapp2.1/csAPI.RazorAssemblyInfo.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.csprojAssemblyReference.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.csproj.CoreCompileInputs.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.assets.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.AssemblyInfoInputs.cache
csAPI/obj/csAPI.csproj.nuget.g.props
csAPI/obj/csAPI.csproj.nuget.cache
.vs/csAPI/v15/Server/sqlite3/storage.ide-wal
.vs/csAPI/v15/Server/sqlite3/storage.ide-shm
.vs/csAPI/v15/Server/sqlite3/db.lock
csAPI/obj/project.assets.json
csAPI/obj/csAPI.csproj.nuget.g.props
.vs/csAPI/v15/Server/sqlite3/storage.ide-wal
.vs/csAPI/v15/Server/sqlite3/storage.ide-shm
*.cache
*.dll
csAPI/obj/Release/netcoreapp2.1/PubTmp/Out/csAPI.xml
csAPI/obj/Release/netcoreapp2.1/PubTmp/Out/csAPI.pdb
csAPI/obj/Release/netcoreapp2.1/csAPI.pdb
csAPI/obj/Release/netcoreapp2.1/csAPI.csproj.FileListAbsolute.txt
csAPI/obj/Debug/netcoreapp2.1/csAPI.pdb
csAPI/obj/Debug/netcoreapp2.1/csAPI.csproj.FileListAbsolute.txt
csAPI/csAPI.csproj.user
csAPI/csAPI.csproj
csAPI/bin/Release/netcoreapp2.1/csAPI.xml
csAPI/bin/Release/netcoreapp2.1/csAPI.runtimeconfig.dev.json
csAPI/bin/Release/netcoreapp2.1/csAPI.pdb
csAPI/bin/Debug/netcoreapp2.1/csAPI.runtimeconfig.dev.json
csAPI/bin/Debug/netcoreapp2.1/csAPI.pdb
.vs/csAPI/v15/Server/sqlite3/storage.ide-wal
.vs/csAPI/v15/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/csAPI/v15/Server/sqlite3/storage.ide-shm
.vs/csAPI/v15/Server/sqlite3/storage.ide-wal
csAPI/bin/Debug/netcoreapp2.1/csAPI.runtimeconfig.dev.json
csAPI/bin/Release/netcoreapp2.1/csAPI.runtimeconfig.dev.json
csAPI/bin/Release/netcoreapp2.1/csAPI.xml
csAPI/csAPI.csproj
csAPI/obj/Debug/netcoreapp2.1/csAPI.csproj.FileListAbsolute.txt
csAPI/obj/Release/netcoreapp2.1/csAPI.csproj.FileListAbsolute.txt
csAPI/obj/Release/netcoreapp2.1/PubTmp/Out/csAPI.xml
csAPI/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
csAPI/Properties/PublishProfiles/CustomProfile2.pubxml
csAPI/Properties/PublishProfiles/CustomProfile2.pubxml.user
