
csAPI/obj/project.assets.json
csAPI/obj/Debug/netcoreapp2.1/csAPI.RazorAssemblyInfo.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.csprojAssemblyReference.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.csproj.CoreCompileInputs.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.assets.cache
csAPI/obj/Debug/netcoreapp2.1/csAPI.AssemblyInfoInputs.cache
csAPI/obj/csAPI.csproj.nuget.g.props
csAPI/obj/csAPI.csproj.nuget.cache
.vs/csAPI/v15/Server/sqlite3/storage.ide-wal
.vs/csAPI/v15/Server/sqlite3/storage.ide-shm
.vs/csAPI/v15/Server/sqlite3/db.lock
csAPI/obj/project.assets.json
csAPI/obj/csAPI.csproj.nuget.g.props
.vs/csAPI/v15/Server/sqlite3/storage.ide-wal
.vs/csAPI/v15/Server/sqlite3/storage.ide-shm
